/*@font-face {*/
    /*font-family: 'Open Sans';*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/

body {
    background: #fff;
    background-image: none;
    font-size: 12px;
    font-size: 18px;
    font-family: "Open Sans";
}
address{
    margin-top:15px;
}

h2 {
    font-size:28px;
    color:#cccccc;
}
.container {
    padding-top:30px;
}
.invoice-head td {
    padding: 0 8px;
}
.invoice-body{
    background-color:transparent;
}
.logo {
    padding-bottom: 10px;
}
.table th {
    vertical-align: bottom;
    padding: 8px;
    line-height: 20px;
    text-align: left;
}
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    height: 51px;
    width: 172px;
    color: #1D1D1B;
    font-family: "Open Sans";
    font-size: 14px;
    font-size: 18px;
    line-height: 17px;
}
.well {
    margin-top: 15px;
}

table tr .bold{
    font-size: 19px;
}

table td span{
    color: #1D1D1B;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 17px;
}
table strong{
    color: #273238;
    font-size: 18px;
    font-family: "Open Sans";
    line-height: 17px;
}

table .last_row td.total{
    color: #273238;
    font-size: 26px;
    line-height: 36px;
}

table tr.last_row > td, table tr.mid_row > td{
    padding-top: 15px;
    border-top: 1px solid #E5E5E5;
}