/*----------------- = Font Face ------------------*/
@font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'opensans-semibold';
    src: url('../fonts/opensans-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'opensans-light';
    src: url('../fonts/opensans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/opensans-Bold.ttf') format('truetype');
}
/*----------------- = DEBUG CSS remove later ------------------*/
    .d-red{
        outline: 1px dashed red;
    }

    .d-bla{
        outline: 1px dashed black;
    }

    .d-or{
        outline: 1px dashed orange;
    }
    .d-blu{
        outline: 1px dashed blue;
    }

    .d-bcy{
        background-color: yellow;
    }

/*----------------- = DEBUG CSS remove later ------------------*/

/*----------------- = CDM Custom classes ------------------*/
#app {
	display: table;
	width: 100%;
}
.flex-v-center{
    display: flex;
    align-items: center;
}

.cdm-height{
    height: 38px;
}

.cdm-height-2{
    height: 72px !important;
}

.cdm-height-inherit{

}

.mr-2{
    margin-right: 2px;
}
.ml-2{
    margin-left: 2px;
}
.pr-2{
    padding-right: 2px;
}
.pr-4{
    padding-right: 4px;
}

.pl-2{
    padding-left: 2px;
}
.pl-4{
    padding-left: 4px;
}

.mp-0{
    margin: 0;
    padding: 0;
}
.mr-0{
    margin-right: 0px !important;
}
.ml-0{
    margin-left: 0px !important;
}

.p-0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
.pr-0{
    padding-right: 0px;
}
.m-0{
    margin: 0px;
}

.mx-0{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.mal{
    margin-left:  auto !important;
}
.mar{
    margin-right: auto !important;
}
.tac{
    text-align: center;
}
.tal{
    text-align: left;
}
.tar{
    text-align: right;
}

/*----------------- = END CDM Custom classes ------------------*/

body {
    /*background-color: #f4f4f4;*/
    background-color: #e3e3e3;
    font-size: 15px;
    font-weight: 300;

}

body, table {
    font-family: "Open Sans", "Helvetica Neue Bold", "Open Sans Light", "Open Sans Regular", "Open Sans Semibold", sans-serif;
}

.form-control{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.del-edit-btn{
    text-align: right;
}

.pre-container {
    position: relative;
    top: 20vh;
}

.progress-bar-info{
    background-color: #0D5CB7; /* blue */
}

#user-table td {
    width: 200px;
}
.navbar {
	position: absolute;
	width:100%;
}
.navbar-background {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}
.navbar-static-top {
    border-style: none;
}
.navbar-background ul.nav li a {
    color: #000;
    border-width: 0 0 0px;
}
.cdm-panel .panel-heading {
    background-color: rgba(0, 94, 180, 1.0);
    height: 80px;
}

.navbar-header .navbar-brand {
    width: 240px;
    padding: 0px;
    background-color: #005EB4;
}

.navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:active, .navbar-header .navbar-brand:focus {
    background-color: #005EB4;
}

.navbar-header .navbar-brand .img-bg {
    background-image: url(../img/logo.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}



.cdm-panel .panel-heading .img-bg {
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.cdm-panel .panel-body {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    background-color: #fff;
}

.cdm-panel button {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    background-color: rgba(0, 94, 180, 1.0);
    border: none;
    border-radius: 2px;
    height: 48px;
}

.cdm-panel label.titled {
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 24px;
}

.cdm-btn {
    /*width: 100%;*/
    font-family: opensans;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 94, 180, 1.0);
    border: none;
    border-radius: 2px;
    padding-right: 15px;
    height: 38px;
}

.cdm-btn img {
    max-width: 26px;
    max-height: 26px
    margin-right: 10px;
    margin-left: 10px;
}

textarea {
    resize: none;
}

.chosen-container-single .chosen-single {
    background-image: none;
    box-shadow: none;
}

.chosen-container-single .chosen-single span, .chosen-container-single .chosen-single div {
    padding-top: 6px;
}

input[type="text"], input[type="email"], input[type="password"], .chosen-container-single .chosen-single {
    height: 38px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], .chosen-container-single .chosen-single, textarea.form-control, .form-group select, .form-group select option {
    border: 1px solid #979797;
    border-radius: 2px;
    background-color: #fff;
    font-size: 18px;
    color: #000000;
}

.form-group select, .form-group select option, input[type="number"] {
    height: 38px;
}

.form-group input{
    font-weight: bold;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, textarea.form-control:-moz-placeholder { /* Firefox 18- */
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea.form-control::-moz-placeholder {  /* Firefox 19+ */
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea.form-control::-ms-input-placeholder {
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.cdm-panel label, a.link {
    color: #000;
    font-weight: normal;
}

.th-center{
    text-align: center;
    display: inline-block;
    width: calc(100% - 83px);
    margin-right: 2px;
}

.cdmico-action-diary a {
    margin-top: 10px;
    margin-bottom: 10px;
}

li.cdmico {
    background-repeat: no-repeat;
    list-style-type: none;
    background-image: url("../img/sprite.png");
	background-size: 72px 2167px;
    background-position-x: -20px; 
}
.cdmico-my-vehicles{
	background-position-y: -1409px;
}
.cdmico-my-vehicles:hover {
	background-position-y: -1447px;
}

.cdmico-action-diary {
	background-position-y: -915px;
}
.cdmico-action-diary:hover {
	background-position-y: -953px;
}
.cdmico-add-vehicle{
	background-position-y: -991px;
}
.cdmico-add-vehicle:hover{
	background-position-y: -1029px;
}
.cdmico-list-vehicles{
	background-position-y: -1333px;
}
.cdmico-list-vehicles:hover {
	background-position-y: -1371px;
}

.cdmico-retail-price{
	background-position-y: -1599px;
}
.cdmico-retail-price:hover {
	background-position-y: -193px;
}

.cdmico-search{
	background-position-y: -1675px;
}
.cdmico-search:hover {
	background-position-y: -307px;
}


.cdmico-suppliers{
	background-position-y: -1751px;
}
.cdmico-suppliers:hover {
	background-position-y: -421px;
}

.cdmico-refresh{
	background-position-y: -1561px;
}
.cdmico-refresh:hover {
	background-position-y: -1295px;
}

.cdmico-data-managment{
	background-position-y: -1219px;
}
.cdmico-data-managment:hover{
	background-position-y: -1257px;
}

.cdmico-users{
	background-position-y: -1865px;
}
.cdmico-users:hover {
	background-position-y: -611px;
}

.cdmico-user-documents{
	background-position-y: -1827px;
}
.cdmico-user-documents:hover {
	background-position-y: -573px;
}

.cdmico-training-videos{
	background-position-y: -1789px;
}
.cdmico-training-videos:hover {
	background-position-y: -535px;
}
.cdmico-price-label{
	background-position-y: -1522px;
}
.cdmico-price-label:hover{
	background-position-y: -154px;
}
.cdmico-settings{
	background-position-y: -1713px;
}
/*

 
.add-vehicle-white { background-position: -20px -0px; width: 32px; height: 32px; }
.hot-wanted-icon-default { background-position: -20px -52px; width: 18px; height: 18px; }
.hot-wanted-icon-pressed { background-position: -20px -90px; width: 18px; height: 18px; }
.p-ex-vehicles-icon-pressed { background-position: -20px -128px; width: 18px; height: 18px; }



.sales-icon-default { background-position: -20px -242px; width: 18px; height: 18px; }
.sales-icon-pressed { background-position: -20px -280px; width: 18px; height: 18px; }
.stocks-icon-default { background-position: -20px -356px; width: 18px; height: 18px; }

.stocks-icon-pressed { background-position: -20px -394px; width: 18px; height: 18px; }

.testimonial-text-icon-default { background-position: -20px -470px; width: 18px; height: 18px; }
.testimonial-text-icon-pressed { background-position: -20px -508px; width: 18px; height: 18px; }


.vat-reports-icon-default { background-position: -20px -660px; width: 18px; height: 18px; }
.vat-reports-icon-pressed { background-position: -20px -698px; width: 18px; height: 18px; }
.webstats-icon-pressed { background-position: -20px -736px; width: 18px; height: 18px; }
.webstats-offer-default { background-position: -20px -774px; width: 18px; height: 18px; }
.webstats-offer-pressed { background-position: -20px -812px; width: 18px; height: 18px; }
.work-list-icon-default { background-position: -20px -850px; width: 18px; height: 18px; }
.work-list-icon-pressed { background-position: -20px -888px; width: 18px; height: 18px; }
.action-diary-default { background-position: -20px -926px; width: 18px; height: 18px; }
.action-diary-pressed { background-position: -20px -964px; width: 18px; height: 18px; }

.blogs { background-position: -20px -1078px; width: 18px; height: 18px; }
.blogs-icon-pressed { background-position: -20px -1116px; width: 18px; height: 18px; }
.click-social-icon-default { background-position: -20px -1154px; width: 18px; height: 18px; }
.click-social-icon-pressed { background-position: -20px -1192px; width: 18px; height: 18px; }




.pex-vehicles { background-position: -20px -1496px; width: 18px; height: 18px; }

.retail-price-white { background-position: -20px -1648px; width: 18px; height: 18px; }




*/
	
	
.table-responsive table {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}


.responsive-table-block {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}


.responsive-table-block .table-responsive tr {
    background-color: #fff;
    border: 1px solid #C1C1C1;
}

.responsive-table-block .table-responsive th {
    background-color: #F2F2F2;
}

.responsive-table-block .table-responsive td, .responsive-table-block .table-responsive th {
    border-left: 1px solid #E6E6E6;
    border-right:1px solid #ceced0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 27px;
}

.responsive-table-block .table-responsive tr:hover{
    background-color: #F2F2F2;
}

.responsive-table-block tr td.linkTo:hover{
    cursor: pointer;
}

.responsive-table-block .table-responsive td:first-child, .responsive-table-block .table-responsive th:first-child {
    border-left: 1px solid #C1C1C1;
}

.responsive-table-block .t-header {
    color: #000000;
    height: 33px;
    font-size: 24px;
    line-height: 33px;
}

.responsive-table-block .t-title, .p-header h2 {
    float: left;
    padding-bottom: 20px;
    font-family: opensans;
    color: #000000;
}

.responsive-table-block .t-action {
    position: relative;
    float: right;
    background-color: #005EB4;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px;
}

.responsive-table-block .t-header a {
    color: #fff;
    font-family: opensans;
}

.responsive-table-block .t-action img {
    color: #fff;
}

.span-bordered {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 4px;
    border-style: solid;
    padding: 7px;
    display: inline-block;
}

.admin-color {
    color: #005EB4;
    border-color:#005EB4;
     border-width: 2px;
}
.dealer_principle-color {
   color: #349D0E;
   border-color:#349D0E;
    border-width: 2px;
}
.sales_manager-color {
    color: #BC65A5;
    border-color:#BC65A5;
     border-width: 2px;
}
.sales_man-color {
    color: #E99100;
    border-color:#F5A623;
     border-width: 2px;
}
.default-color {
    color: #000;
    border-color:#C0C0C0;
     border-width: 1px;
}
.actions .default-color {
	font-weight: normal;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	vertical-align: middle;
}
.color-success {
    color: #417505;
}

.color-danger {
    color: #a94442;
}

.color-info {
    color: #31708f;
}

.flash-message-container {
    padding-left: 10px;
	padding-right: 5px;
	margin-bottom:20px;
}
.flash-message-container .inner-container {
	padding: 30px 100px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}
.flash-message-container h5 {
    font-family: "Open Sans";
	font-size: 36px;
	font-weight: 300;
	line-height: 49px;
	color: #010101;
	display: inline-block;
	margin: auto;
	background-repeat: no-repeat;
	list-style-type: none;
	background-image: url("../img/Sprites@2x.png");
	background-size: 72px 4000px;
	background-position-x: -2px;
	height: 67px;
	padding-left: 75px;
	padding-top: 11px;
}
.flash-message-container h5.success {
	background-position-y: -1912px;
}
.flash-message-container h5.danger {
	background-position-y: -2001px;
}
.flash-message-container h5.info {
	background-position-y: -2080px;
}
.flash-message-container.small {
    left: 0;
    top: 0;
    padding: 30px 0;
}

.flash-message-container.small h5 {
    padding: 30px 0;
}
#permissions-block {
	font-size: 14px;
	line-height: 17px;
	padding-bottom:20px;
}
#permissions-block .col-xs-6 {
	margin-top:20px;
}
#permissions-block input[type='checkbox'] {
	margin-right:9px;
	width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

#permissions-block h5{
    padding: 5px 0px;
    font-size: 17px;
    font-weight: bold;
}

.perms-wrap{
    margin-top: 15px;
}

.permissions-wrapper .submit-block{
    margin-top: 0px !important;
}

.panel-block .p-content > div:first-child, .p-content label.perm-label {
    background-color: #F2F2F2;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #C1C1C1;
    font-weight: normal;
}
.p-content label.perm-label {
    border-top: 1px solid #C1C1C1;
}

.panel-block-no-padding{
    padding-left:0px;
    padding-right:0px;
}

.panel-block .p-content-no-head > div{
    line-height: 24px;
    color: #000000;
    padding: 15px;
    margin-bottom: 10px;
}

.panel-block .p-content, .panel-block .p-content-no-head {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}
.panel-block .p-content-no-head{
    margin: 0;
    margin-bottom: 20px;
    border-top: 1px solid #C1C1C1;
}


.panel-block .submit-block{
    background-color: #e3e3e3;
    padding: 0px;
    margin-top: 20px;
}

/* btn hover state */
.panel-block button.btn:hover, .btn-blue:hover, .cdm-btn:hover{
    background-color: #0057A6;
}

.panel-block button.btn {
    background-color: #0D5CB7;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.panel-block button img {
    width: 24px;
    position: relative;
    top: -3px;
}

.responsive-table-block div.actions {
    width: 90px;
}
.responsive-table-block div.actions.del-edit-btn{
    width: inherit;
    padding-right: 15px;
}
.responsive-table-block div.actions a:hover {
	text-decoration: none;
	color:inherit;
}
.responsive-table-block div.actions .edit, .responsive-table-block div.actions .delete {
    float:left;
    margin-right:5px;
    font-weight: normal;
}

/*
 * Side bar
 */

 .navbar {
     margin-bottom: 0px;
     
 }

#content-block {
    margin-left: 245px;
    height:100vh;
    overflow-y:scroll;
    overflow-x:visible;
    padding-top:60px;
}

#sidebar-nav {
    left: 0px;
    width: 240px;
    background-color: #333333;
    position: absolute;
    transition: 0.5s;
    height:100vh;
    overflow-y: auto;
    overflow-x: visible;
    padding-top:60px;
}



/* Let's get this party started */
#sidebar-nav::-webkit-scrollbar{
    width: 5px;
}

/* Track */
#sidebar-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#sidebar-nav::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(120,120,120,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#sidebar-nav::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(120,120,120,0.8);
}



#sidebar-nav ul {
    list-style-type: none;
}


.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    line-height: 25px;
    color: #A1A1A1;

}

.sidebar .group {
    color: #A1A1A1;
    font-family: opensans-semibold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 40px;
    right: 5px;
    font-size: 36px;
}

#sidebar-toggler {
    font-size:26px;
    cursor:pointer;
    padding-left:15px;
}

.tab-box{
    margin-top: 15px;
    width: 100%;
    min-width: 320px;
    max-width: 720px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    text-align: center;
}
.tab-box ul, .tab-box ul li, .tab-box ul li a {
    margin: 0px !important;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
}
.tab-box ul li{
    height: 100% !important;
}

.tab-box h3{
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin-bottom: 33.5px;
}

.tab-box [role="presentation"]{
    border-bottom: none;
    height: inherit;
    background-color: #F2F2F2;
    box-shadow: inset 5px -6px 3px 0 rgba(235,235,235,0.5);
    border-radius: 0 !important;
}

.tab-box [role="presentation"] a, .nav-tabs.nav-justified > li > a{
    border-bottom: none;
    padding-top: 14px;
    height: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    border-bottom: 1px solid #AAA;
    border-radius: 0 !important;
}
.tab-box ul li a{
    font-size: 18px;
    font-weight: bold;
    color: #000000 !important;
}
.tab-box ul [role="presentation"].cdm-active a{
    border: none;
    box-shadow: none;
}
.tab-box [role="presentation"].cdm-active.active-left a{
    border-right: 1px solid #AAA;
    border-left: 1px solid transparent;
    background-color: #FFFFFF;
    border-bottom: none;
}
.tab-box [role="presentation"].cdm-active.active-right a{
    border-left: 1px solid #AAA;
    border-right: 1px solid transparent;
    background-color: #FFFFFF;
    border-bottom: none;
}

.tab-box .cdm-btn{
    margin-top: 30.5px;
}

.tab-box .cdm-btn.active-right-tab{
    margin-bottom: 30px;
}

.tab-box p{
    margin: 0 5%;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 19px;
}
.tab-box p:first-of-type{
    font-size: 18px;
    font-weight: 600;
}
.tab-box p:nth-of-type(2){
    margin-left: 11%;
    margin-right: 11%;
}


.tab-box-block{
    padding-top: 33px;
    width: 100%;
    padding-bottom: 21px;
}

.tab-box-text{
    padding-bottom: 36px;
}

.tab-box .form-group{
    margin-bottom: 0px;
}

.cdm-input-box{
    margin: 0 auto;
    display: block;
    height: 61px;
    max-width: 317px;
    width: 100%;
    position: relative;
}
.cdm-input-box img{
    position: absolute;
    top: 1px;
    left: 0;
}

.cdm-btn{
    margin: 0 auto;
    display: block;
    height: 38px;
    font-size: 14px;
    line-height: 24px;
    background-color: #005EB4;
}

.btn.cdm-btn img{
    width: auto;
    position: static;
}

.btn.cdm-btn span{
    /*padding-top:2px;*/
    display: inline-block;
    position: relative;
    top: 1px;
}

#plate_num{
    text-transform: uppercase;
    max-width: 317px;
    width: 100%;
    height: 61px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    border: 1px solid #C1C1C1;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
}

#plate_num span{
    padding-left: 0px;
}

.panel-block .btn-group.bootstrap-select{
    width: 100% !important;
}


.select2.select2-container.select2-container--default{
    height: 38px !important;
    width: 100% !important;
}
.select2-container--default .select2-selection--single, .select2-dropdown{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.panel-block .bootstrap-select button.btn, .select2-selection.select2-selection--single{
    height: 38px !important;
    width: 100% !important;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #979797;
}
#select2-model_id-container, .select2-selection.select2-selection--single{
    width: 100% !important;
}

.select2-selection__arrow, #select2-model_id-container{
    height: 38px !important;
}
#select2-model_id-container{
    font-weight: bold;
    color: #000000;
}
#select2-model_id-container{
    display: flex;
    align-items: center;
}

.panel-block .bootstrap-select ul li span.text, #select2-model_id-results li, .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 38px;
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000 transparent !important;
    border-width: 0 4px 5px 4px;
}

.add-vehicle-container-2 .panel-block .p-content{
    padding-bottom: 15px;
}

.add-vehicle-container-2 .panel-block .p-content{
    margin-bottom: 21px;
}

.cdm-date-input{
    position: relative;
}
.cdm-date-input img{
    top: 11px;
    left: 11px;
    position: absolute;
}
.cdm-date-input input{
    padding-left: 35px;
}
.checkbox{
    margin-left:10px;
}

.checkbox input{
    width: 14px;
    height: 14px;
}

.panel-block .p-content .input-group-addon{
    padding: 6px 15px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #979797;
    border-right: none;
    background-color: #FFFFFF;
}

/*----------------- = VEHICLE DETAILS ------------------*/
div[class*="add-vehicle-container-"] h2{
    font-size: 24px;
    line-height: 33px;

}

.add-vehicle-container-2 .p-content{
    margin: 0;
}


#cdm-form-step-2{
    margin-top: 21px;
}

.form-check-label{
    height: inherit;
}
.chbox-wrap{
    margin-top: 15px;
}

.bootstrap-select .dropdown-menu.open ,.dropdown-menu.open .dropdown-menu.inner{
    max-height: 500px !important;
    padding-bottom: 5px !important;
}

/*----------------- = END VEHICLE DETAILS ------------------*/

.add-vehicle-container-2 textarea{
    height: 110px;
}

.slash_icon{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 38px;
}

.slash_icon::after{
    content: '/';
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    font-weight: bold;
}

.no-photo{
    border: 1px solid #ddd;

}

.photo-area-head{
    height: 60px;
}

.drag-photo-area{
    text-align: center;
    height: inherit;
}

.drag-photo-icon{
    margin: 0 auto;
    margin-top: 35px;
    width: 31px;
    height: 38px;
    border: 2px solid #2A61C6; /* blueish */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.drag-photo-v{
    margin: 0 auto;
    height: 40px;
    width: 8px;
    background-color: #ffffff;
    position: absolute;
    top: -2px;
    left: 0px;
    right: 0px;
}

.drag-photo-h{
    margin: auto 0;
    height: 8px;
    width: 33px;
    background-color: #ffffff;
    position: absolute;
    left: -2px;
    top: 0px;
    bottom: 0px;
}

.drag-photo-area p{
    margin: 8px auto 28px auto;
    font-family: "Open Sans";
    font-size: 23px;
    line-height: 32px;
    color: #2A61C6;
    font-weight: bold;
}

.drag-photo-area p.drag-over{
    color: #555;
}

.drag-photo-area img{

    max-width: 150px !important;
    width: 150px;
}

.btn-photo{
    width: 165px;
    height: 42px;
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1.5px solid #C1C1C1;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 35px;
}
.btn-photo:hover{
    background-color: #efefef;
}

/*----------------- = ADD Vehicle Form ------------------*/

.p-content-no-head.vehicle-images{
    padding-top: 10px;
}

.panel-block .p-content.photo-drag-area-block{
    margin-bottom: 0px;
}

.p-content.retail-info{
    margin-top: 21px;
}

p-content-no-head > div{
    /*padding: 15px;*/
}

p-content-no-head > div.row{
    margin: 0px !important;
}

.p-content-no-head img{
    margin: auto;
}

.car-image{
    width: 100%;
    height: 225px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.del-bin{
    display: block;
    width: 32px;
    height: 32px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background: url('/img/add_car/trash.png') no-repeat center center;
    background-color: #000000;
}

.car-image-head{
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 14px 0px;
}

.car-image-icons{
    padding: 2px;
    width: 100%;
    display: block;
    margin-right: 10px;
    overflow: hidden;
}

.car-icon-box{
    width: 92px;
    height: 34px;
    float: left;
    margin-right: 3px;
    border: 1px solid #CBCBCB;
    border-radius: 2px;
    display: flex;
    align-items: center;
    text-align: center;
}

.car-icon-box:hover, a.cdm_toggle_view:hover{
    cursor: pointer;
    border: 1px solid #CBCBCB ;
    box-shadow: 0 0 4px 0 #555;
    border-radius: 2px;
}

.icon-box-1{
    background: url(/img/add_car/auto.png) no-repeat center center;
}
.icon-box-2{
    background: url(/img/add_car/gumtree.png) no-repeat center center;
}
.icon-box-3{
    background: url(/img/add_car/ebay.png) no-repeat center center;
}
.icon-box-1.active{
    background: url(/img/add_car/auto_off.png) no-repeat center center;
}
.icon-box-2.active{
    background: url(/img/add_car/gumtree_off.png) no-repeat center center;
}
.icon-box-3.active{
    background: url(/img/add_car/ebay_off.png) no-repeat center center;
}

.del-bin:hover{
    cursor: pointer;
    background-color: #333;
}

.p-content-no-head div[class *="col-md-12"]:first-of-type{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.p-content-no-head div[class *="col-md-6"]{
    margin-bottom: 15px;
}

.p-content-no-head div[class *="col-md-6"]:first-of-type{
    /*padding-right: 7.5px;*/
}

.p-content-no-head div[class *="col-md-6"]:last-of-type{
    padding-left: 7.5px;
}

.char-left{
    font-size: 12px;
    line-height: 17px;
    color: #7A7A7A;
    text-align: right;
}
#attention_grabber{
    height: 60px;
}

.youtube_box{
    height: 38px;
    position: relative;
}
.youtube_addon{
    display: block;
    position: absolute;
    background: url('/img/add_car/youtube-icon.png') no-repeat center center;
    top: 0px;
    left: 0px;
    width: 38px;
    height: 38px;
}
#youtube_link{
    padding-left: 50px;
}

.cdm-big-btn{
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 21px;
}

.panel-block .p-content.youtube > div:first-child{
    margin-bottom: 17px;
}

.select-vehicle-box{
    margin-top: 21.5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.btn-select-vehicle{
    width: 100px;
    height: 36px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    margin-right: 8px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    font-size: 18px;
    color: #000;
    line-height: 24px;
    font-weight: bold;
}
.select-vehicle-box span{
    display: inline-block;
}
.select-vehicle-box span:last-of-type{
    margin-right: 10px;
}
.veh-icon{
    margin-right: 10px;
}
.veh-icon.car-icon{
    width: 31px;
    height: 14px;
    background: url('/img/add_car/icon-car.png') no-repeat center center;
}
.veh-icon.bike-icon{
    width: 26px;
    height: 17px;
    background: url('/img/add_car/icon-bike.png') no-repeat center center;
}
.veh-icon.van-icon{
    width: 30px;
    height: 17px;
    background: url('/img/add_car/icon-van.png') no-repeat center center;
}
.btn-select-vehicle.active{
    color: #005EB4;
}
.btn-select-vehicle.active > .car-icon{
    background: url('/img/add_car/icon-car-on.png') no-repeat center center;
}
.btn-select-vehicle.active > .bike-icon{
    background: url('/img/add_car/icon-bike-on.png') no-repeat center center;
}
.btn-select-vehicle.active > .van-icon{
    background: url('/img/add_car/icon-van-on.png') no-repeat center center;
}

.btn-select-vehicle:hover{
    cursor: pointer;
    box-shadow: 0 0 4px 0 #000000;
}

.btn-select-vehicle:last-of-type{
    margin-right: 0px;
}

#reg_num{
    text-transform: uppercase;
}

/* ------------ = vehicle list view --------------- */

.cdm-pagination{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
}

.cdm-pagination li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: #F0F0F0;
    border: 1px solid #979797;
    border-radius: 1px;
}
.cdm-pagination li *{
    color: #000;
}
.paginator-wrap{
    margin-top: 10px;
    margin-bottom: 21px;
}

.active.cdm-paginate-md-btn{
    background-color: #fff;
}

.cdm-paginate-md-btn{
    margin-right: 10px;
}
.active.cdm-paginate-md-btn, .disabled.cdm-paginate-btn{
    font-weight: bold;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.disabled.cdm-paginate-btn{
    background-color: #E3E3E3;
    border: 1px solid #CCCCCC;
}
.disabled.cdm-paginate-btn span{
    color: #929292;
}
.cdm-paginate-md-btn a, .cdm-paginate-big-btn a{
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cdm-paginate-md-btn:last-of-type{
    margin-right:0px;
}
.cdm-vehicle-list .table{
    margin-bottom:0px;
}

.cdm-paginate-md-btn a:hover, .cdm-paginate-big-btn a:hover{
    background-color: #ffffff;
    border-top: 1px solid #979797; /* grey border */
    border-bottom: 1px solid #979797; /* grey border */
}

.cdm-vehicle-list .table td, .cdm-vehicle-list .table td a{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #010101;
}
.cdm-vehicle-list .table td:last-of-type > div{
    text-align: left;
}

.cdm-vehicle-list .row{
    margin-bottom: 21px;
}

.cdm-pagination .cdm-paginate-btn{
    width: 84px;
    height: 38px;
}
.cdm-vehicle-list .table{
    margin-bottom:0px;
}
.row.grid_top{
    margin-top: 21px;
}

.grid_view_wrap .table td, .grid_view_wrap .table td a{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #010101;
}
.grid_view_wrap .table td:last-of-type > div{
    text-align: left;
}

.grid_view_wrap .row{
    /*margin-bottom: 21px;*/
}

.grid_view_wrap .t-header{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.grid_view_wrap .t-header div{
    margin-right: auto;
}
.grid_view_wrap .t-title{
    float: none;
    clear: both;
}

.btn-blue, .cdm-btn{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.grid_view_wrap .btn-blue.add{
    margin-left: 20px;
}
.grid_view_wrap .t-header .t-title{
    padding-bottom:0px;
}
.grid_view_wrap .car-listing {
	padding-top:20px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    margin-bottom: 21px;
}
.grid_view_wrap .car-listing ul, .grid_view_wrap .car-listing ul li{
    /*min-width: 230px;*/
    /*xxx*/
}
.grid_view_wrap .car-listing .car-info .title {
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
	color: #010101;
}
.grid_view_wrap .car-listing .car-info .price {
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 600;
	line-height: 41px;
	color: #000000;
	margin-bottom: 15px;
}

.grid_view_wrap .car-listing .car-info .plate {
	box-sizing: border-box;
    width: 211.27px;
    height: 41px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    border: 1px solid #C1C1C1;
    border-radius: 2px;
    background-image: url("../img/Sprites@2x.png");
	background-size: 72px 4000px;
	background-position-x: -23px;
	background-position-y: -2159px;
	background-repeat: no-repeat;
	font-family: "Open Sans";
	font-size: 23px;
	font-weight: bold;
	line-height: 33px;
	letter-spacing: 4px;
	color: #000000;
	padding-left: 34px;
	padding-top: 2px;
	margin-top:14px;
	margin-bottom:9px;
	text-align: center;
}
.grid_view_wrap .car-listing .car-info ul {
	margin: 0px;
	padding:0px;
	padding-right:15px;
}
.grid_view_wrap .car-listing .car-info ul li {
	margin: 0px;
	padding:0px;
	list-style: none;
}
.grid_view_wrap .car-listing .car-info ul li span {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #010101;
	display: block;
	width:50%;
	float: left;
}

.grid_view_wrap .car-listing .car-info ul li span + span {
	font-weight: bold;
	text-align: right;
}
.grid_view_wrap .car-options {
	margin-top:21px;
	background-color: #F5F5F5;
	padding-top:9px;
	padding-bottom:9px;
    border-top: 1px solid #C0C0C0;
    height: 54px;
    float: left;
    width: 100%;
}
.grid_view_wrap .car-options .del-edit-btn a {
	background:white;
	display: inline-block;
}
.grid_view_wrap .car-options .share button {
	background-image: url("../img/Sprites@2x.png");
	background-size: 72px 4000px;
	background-position-x: -21px;
	background-position-y: -2212px;
	background-repeat: no-repeat;
	color: #000;
	border-color: #C0C0C0;
	border-width: 1px;
	background-color: white;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	border-radius: 4px;
	border-style: solid;
	padding: 7px;
	display: inline-block;
	padding-left: 31px;
}
.grid_top .t-title {
	display: inline-block;
	text-align: center;
	float: left;
	padding-bottom: 20px;
	font-family: opensans;
	color: #000000;
	font-size: 24px;
	line-height: 33px;
}
.grid_top.row {
	margin-bottom: 0px;
}
.grid_top .cdm_toggle_view  {
	margin-top:5px;
}
.cdm-prev-btn{
    margin-right: auto;
}

.cdm-next-btn{
    margin-left: auto;
}

.strToUpper{
    text-transform: uppercase;
}

.list-plate-num{
    position: relative;
    display: inline-block;
    height: 26px;
    width: 160px;
    padding-left: 15px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    border: 1px solid #C1C1C1;
    border-radius: 2px;
}
.list-plate-num img{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
}
.list-plate-num span{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.cdm-vehicle-list .t-header{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cdm-vehicle-list .t-header div{
    margin-right: auto;
}
.cdm-vehicle-list .t-title{
    float: none;
    clear: both;
}

.cdm-vehicle-list .btn-blue.add{
    margin-left: 20px;
}
.cdm-vehicle-list .t-header .t-title{
    padding-bottom:0px;
}

a.cdm_toggle_view{
    width: 28px;
    height: 24px;
    display: block;
    border: 1px solid #B9B9B9;
    border-radius: 2px;
}

a.cdm_toggle_view.cdm_grid_view{
    margin-right: 6px;
    background: url(/img/icons/grid_view.png) no-repeat center center;
}

a.cdm_toggle_view.cdm_list_view{
    background: url(/img/icons/list_view.png) no-repeat center center;
}

a.cdm_toggle_view.cdm_grid_view.active{
    background: url(/img/icons/grid_view_on.png) no-repeat center center;
}

a.cdm_toggle_view.cdm_list_view.active{
    background: url(/img/icons/list_view_on.png) no-repeat center center;
}


.grid_view_wrap ul li{
    list-style-type: none;
}

/************************ =END grid list view my vehicles ************************/


/************************ =stock show view ************************/

.stock-show-img-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cdm-stock-show-img-box{
    margin-top: 10px;
    margin-right: 10px;
    width: 128px;
    height: 95px;
    width: 136px;
    height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: inline-block;*/
    overflow: hidden;
}

.vechicle_show ul{
    overflow: hidden;
}
.col-head{
    margin: 16px 0px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #010101;
}

.cdm-stock-show-img-box img, .cdm-stock-show-img-box.reorder img{
    max-width: 190px;
    text-align: center;
}

.img-remain-count{
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    color: #333333;
}

.more-imgs{
    display:-webkit-flex;
    display:-webkit-box;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    height: inherit;
}
.cdm-stock-show-img-box:hover{
    cursor: pointer;
    text-decoration: none;
}

.cdm-stock-show-img-box:nth-of-type(4n + 4),.last-img-block{
    margin-right:0px;
}
.cdm-stock-show-img-box:last-of-type{
    margin-right: 0px;
}

.info-block .col-head-big{
    margin: 15px 0px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #010101;
}

.info-block .col-big-text-block{
    min-height: 110px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    padding: 10px;
}

.info-block .col-big-text-block.attention-info{
    min-height: 60px;
}

.info-block .col-big-text-block.additional-info{
    min-height: 170px;
}
/*.col-media-block{*/
    /*margin-top: 19px;*/
/*}*/

.col-media-block {
    margin-top: 19px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.col-media-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide-on-desk{
    display: none;
}

#lookup_msg{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.dashed_border{
    outline: 2px dashed #2A61C6;
}

.dropdown-menu.inner li a span.text{
    display: inline-block;
    padding-top: 6px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #337ab7;
}

#engine_size_cc_input_wrap,
#engine_size_liters_input_wrap{
    display: inline-block;
    position: relative;
}

#engine_size_cc_input_text,
#engine_size_liters_input_text{
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 18px;
}

#media_link{
    padding-left: 45px;
}

.media_box{
    position: relative;
}

.media_addon{
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 36px;
    height: 36px;
    background: url(/img/icons/youtube-icon.png) no-repeat center center;
}

.second-modal-body{
    border-top: 1px solid #ccc;
}

.modal-footer{
    padding-right: 30px;
}

#diary-table .current-date{
    background-color: #EFF5FB;
    background: #EFF5FB;
}

#diary-table .current-date td.left-col {
    color: #0D5CB7;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

/************************ = reorder img show ************************/

.stock-show-img-wrap.reorder{
    display: inline-block;
}

.cdm-stock-show-img-box.reorder{
    float: left;
    position: relative;
    overflow: hidden;
}

.cdm-stock-show-img-box .counter, .cdm-stock-show-img-box .destroy{
    z-index: 999;
    position: absolute;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #fff;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-weight: bold;
    width: 20px;
    height: 20px;
    font-size: 12px;
}
.cdm-stock-show-img-box .counter{
    top: 0;
    left: 0;
    color: #000;
    font-size: 11px;
}
.cdm-stock-show-img-box .destroy{
    bottom: 0;
    right: 0;
    color: red;
}
.cdm-stock-show-img-box .destroy:hover{
    color: #555;
}


/************************ = edit_user_blade ************************/
.change-block{
    margin-top: 10px;
    margin-bottom: 30px;
}
.change-block .btn-group, .change-block .dropdown-toggle, .change-block p, .change-block .dropdown-menu {
    width: 100% !important;
}
.change-block .dropdown, .change-block .dropdown-toggle {
    height: 38px !important;
}

.change-block .dropdown-menu{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
}

a.dropdown-item, .change-block p{
    display: block;
    height: 38px;
    font-size: 15px;
}

.change-block p{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-align: left;
}

.change-block .dropdown-toggle {
    border: 1px solid #979797;
    font-family: opensans;
    font-weight: 100;
    color: #000000;
}



@media (max-width : 1200px) {
    .paginator-box{
        padding-left:0px;
        padding-right:0px;
    }
    .cdm-stock-show-img-box:nth-of-type(4n + 4){
        margin-right: 10px;
    }

    .grid_view_wrap .row{
        margin-left: 0px;
        margin-right:0px;
    }

    .grid_view_wrap .car-listing .car-info ul li{
        margin-bottom: 10px;
    }

    .grid_view_wrap .car-listing .car-info ul li span {
        width: 100%;
        float: none;
    }

    .grid_view_wrap .car-listing .car-info ul li span + span {
        text-align: left;
    }
}

@media (max-width : 992px) {
    .permissions-wrapper{
        margin-bottom: 20px;
    }
    .grid_view_wrap .car-listing .car-info .title {
        margin-top: 20px;
    }

    .grid_view_wrap.vechicle_show .car-info{
        margin-top: 20px;
    }

    .hide-on-990{
        width: 0px;
        height: 0px;
        display: none;
    }

    .hide-on-desk{
        display: block;
    }

    .car-icon-box {
        width: 90px;
    }

    .grid_view_wrap .car-listing .car-info ul li{
        margin-bottom: 0px;
    }

    .grid_view_wrap .car-listing .car-info ul li span {
        width: 50%;
        float: left;
    }

    .grid_view_wrap .car-listing .car-info ul li span + span {
        text-align: right;
    }
}

@media (min-width: 769px) {

    .xs-sm-vissible {
        display: none!important;
    }
    .md-lg-hidden {
        display: none!important;
    }
    /*.pl-0{*/
        /*padding-left: initial;*/
    /*}*/
}

@media (max-width: 768px) {

    .tab-box [role="presentation"].cdm-active.active-left a, .tab-box [role="presentation"].cdm-active.active-right a{
        border: none;
    }

    #sidebar-nav {
        position: absolute;
        z-index: 999;
        top: 0px;
        left: -245px;
        padding-top: 60px;
    }

    #content-block {
        margin-left: 0px;
    }

    .tab-box h3{
        margin-top: 10%;
    }
}

#content-block-inner {
    padding-left: 10px;
    padding-right: 5px;
}

#diary-table .th-right {
    text-align: right;
    border-left: none;
    padding-right: 15px;
}
#diary-table .right-col {
	vertical-align: top;
}
#diary-table td.left-col {
    width: 130px;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    padding: 15px 0 15px 40px;
}


#diary-table td .event-button {
    display: none;
}

.button-block div.btn-text {
    display: inline;
}

.display-inline {
    display: inline!important;
}

.todays-day {

}

.responsive-table-block .table-responsive tr.mark-row-borders td.left-col {
    border-top: 1px solid #58AFFF;
    border-left: 1px solid #58AFFF;
    border-bottom: 1px solid #58AFFF;
    height: 55px;
}

.responsive-table-block .table-responsive tr.mark-row-borders td.right-col {
    border-left: none;
    border-top: 1px solid #58AFFF;
    border-right: 1px solid #58AFFF;
    border-bottom: 1px solid #58AFFF;
    height: 55px;
}


.cdm-modal-footer .button-block button {
    position: absolute;
    right: 15px;
    bottom: 20px;
    margin-right: 16px;
}
.cdm-modal-footer .colors-block {
    height: 50px;
	padding-top: 7px;
}

.cdm-modal-footer .colors-block label {
    padding-top: 4px;
    margin-right: 10px;
}

.cdm-modal-footer .colors-block input, .cdm-modal-footer .colors-block label {
    float: left;
    padding-top: 10px;
}
.modal-content {
    border-style: 0px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
    border-radius: 1px;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}
.modal-header {
    background: #F2F2F2;
    border-bottom: 1px solid #C1C1C1;
    padding: 20px;
}
.modal-body {
    padding-right: 30px;
    padding-left: 30px;
}
.modal-title  {
    font-family: opensans-bold;
}
.time-icon {
    font-family: opensans-semibold;
    background: url(../img/time-icon.png) no-repeat left 10px center;
    padding-left: 35px;
}
.date-icon {
    font-family: opensans-semibold;
    background: url(../img/date-icon.png) no-repeat left 10px center;
    padding-left: 35px;
}
.form-group {
    font-family: opensans-semibold;
}
.form-group label {
    font-family: opensans;
    font-weight: 100;
    color: #000000;
}
.circle-shape {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-width: 0px;
    margin-right: 2px;
    margin-top: 12px;
}

.circle-shape.selected {
	border:2px solid #333;
}

.event-block {
    padding: 3px 10px;
    border-radius: 4px;
    line-height: 16px;
    height: 25px;
    float:left;
    margin-top:3px;
    margin-right:5px;
}

.mark-row-borders .diary-update-event-button, .mark-row-borders .diary-remove-event-button {
    float:left;
    margin-right:5px;
}
.event-block .event-text {
    display: inline;
    height: 16px;
    font-family: opensans;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
 
}
.event-block .event-time {
    display: inline;
    height: 16px;
    font-family: opensans;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left:10px;
    
    background-repeat: no-repeat;
	list-style-type: none;
	background-image: url("../img/Sprites@2x.png");
	background-size: 72px 4000px;
	background-position-x: -20px;
	background-position-y: -204px;
	padding-left:20px;
 
}
.event-button input {
    height: 31px;
    background-color: #EFEFEF;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    font-size: 14px;
}

#click-right-diary-date, #click-left-diary-date {
    border: none;
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: normal;
    outline: none;
}

#click-right-diary-date img {
    margin-left: 5px;
}

#click-left-diary-date img {
    margin-right: 5px;
}


.action-btn-block button {
    float: right;
    background-color: #006acb;
    font-size: 14px;
    font-family: opensans;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0px 10px 0 10px;
    border: 1px solid #006acb;
    border-radius: 2px;
    height: 32px;
}

.action-btn-block button img {
    margin-right: 7px;
    height: 16px;
}
.btn-add-icon {
	padding-left: 44px;
	background-position-y: 3px;
	background-repeat: no-repeat;
	list-style-type: none;
	background-image: url("../img/Sprites@2x.png");
	background-size: 72px 4000px;
	background-position-x: -20px;
	height: 40px;
	display: inline-block;
	margin: auto;
	padding-top: 7px;
	font-weight: normal;
	font-size: 18px;
}
.btn-blue {
    height: 32px;
    background-color: #005EB4;
    font-family: opensans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    border:0px;
    font-weight: normal;
    padding:6px 13px;
    margin-top:1px;
}
a.btn-blue:hover {
	text-decoration: none;
    color: #fff;
}
.btn-blue.add {
    padding-left: 27px;
    background-position-y: -1033px;
    background-repeat: no-repeat;
    list-style-type: none;
    background-image: url("../img/Sprites@2x.png");
	background-size: 72px 4000px;
    background-position-x: -14px;
}
#subscriptions-block {
    margin: 0;
    width: 100%;

    background-color: #005EB4;
    position: absolute;
    top: 0;
    left: 0;
}

#subscriptions-block .logo-img-block {
    margin-top: 100px;
    margin-bottom: 50px;
    background-image: url('/img/plans/plans_logos.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 200px;
}

#subscriptions-block .stripe-img-block {
    background-image: url('/img/plans/stripe_logo_text.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100px;
    margin-top: 50px;
}

 #subscriptions-block .wrapper {
     padding: 0;
     margin: 0;
 }

#subscriptions-block .plan-block {
    width: 100%;
    background-color: #fff;
    padding: 0 25px;
}

#subscriptions-block .plan-block h2 {
    font-size: 39px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
}

#subscriptions-block .middle .plan-block h2 {
    color: #B28604;
}

#subscriptions-block .plan-block ul {
    list-style: none;
    padding: 0;
}

#subscriptions-block .plan-block li {
    background: url('/img/plans/ok_mark.png') no-repeat left center;
    padding-left: 50px;
    margin-bottom: 10px;
    color: #000;
}

#subscriptions-block .wrapper.left, #subscriptions-block .wrapper.right{
    padding-top: 20px;
}

#subscriptions-block .left .plan-block, #subscriptions-block .right .plan-block {
    height: 540px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

#subscriptions-block .middle {
    z-index: 10;
}

#subscriptions-block .middle .plan-block {
    height: 580px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

#subscriptions-block .plan-logo-block {
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 200px;
}

#subscriptions-block .left .plan-logo-block {
    background-image: url('/img/plans/basic_membership.png');
}
#subscriptions-block .middle .plan-logo-block {
    background-image: url('/img/plans/gold_membership.png');
    margin-bottom: 20px;
}
#subscriptions-block .right .plan-logo-block {
    background-image: url('/img/plans/silver_membership.png');
}

#subscriptions-block .stripe-button-el {
    width: 100%;

}

#subscriptions-block .stripe-button-el span {
    background-image: none;
    background: #005EB4;
    box-shadow: none;
    border-radius: 4px;
    height: 48px;
    font-size: 24px;
    padding-top: 8px;
}

#subscriptions-block .plan-block .order-submit {
    width: 100%;
    height: 48px;
    background-color: #005EB4;
    border-radius: 4px;

    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    color: #FFFFFF;
}

/* Medium Devices, Desktops */
@media (max-width : 992px) {

    .p-content-no-head div[class *="col-md-6"]{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .flex-v-center{
        display: block;
    }
    .chbox-wrap{
        margin-top: 0px;
    }

    .pl-s-0{
        padding-left: 0px;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px){
    .add-vehicle-container-2 .panel-block{
        max-width: 70%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 500px) and (max-width: 599px){
    .add-vehicle-container-2 .panel-block{
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 400px){
    .grid_view_wrap .car-listing .car-info ul li{
        margin-bottom: 10px;
    }

    .grid_view_wrap .car-listing .car-info ul li span {
        width: 100%;
        float: none;
    }

    .grid_view_wrap .car-listing .car-info ul li span + span {
        text-align: left;
    }

    .cdm-stock-show-img-box.last-img-block{
        margin-right: 10px;
    }
    .stock-show-img-wrap{
        text-align: center;
    }
    .car-image-icons{
        text-align: center;
    }
    .car-icon-box{
        margin: 0 auto;
        margin-bottom: 15px;
        clear:both;
        float: none;
    }
    .car-image{
        max-height: 170px;
    }

    #plate_num span{
        font-size: 25px;
    }
}